%h3 Which errors do you want to generate report?

= form_tag account_organization_project_path(params[:account_id], params[:organization_id], params[:id], format: :csv), method: :get do
  - @errors.each do |error|
    .div
      = label_tag do
        = check_box_tag "error_ids[]", error[:id]
        %strong= error[:error_class]
        = error[:context]
  %br
  = submit_tag 'Get report'
